<form class="w-50 m-auto my-5">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="place" class="form-label">Place</label>
    <input type="text" class="form-control" id="place">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="text" class="form-control" id="price">
  </div>
  <div class="mb-3">
    <label for="img" class="form-label">Img</label>
    <input type="text" class="form-control" id="img">
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" id="date">
  </div>
  <div class="mb-3">
    <label for="capacity" class="form-label">Capacity</label>
    <input type="text" class="form-control" id="capacity">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button id="newAddProduct" type="submit" class="btn btn-primary">Submit</button>
</form>
<section id="testList"></section>
<script src="/socket.io/socket.io.js"></script>

<script>
  
</script>
<script src="/register.js"></script>

